{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <br />
    <div class="button" align="middle">
        <button type="submit" class="btn btn-primary" align="middle">Login</button>
    </div>
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
        style="background-image: url('static/mt09.jpg')">
        <div class="container">
        </div>
    </div>
</form>
{% endblock %}